<hr size="3">
<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Publications</h1>
		</div>
		<div class="content-rounded-panel">
			<div>
				<dl>
				  <dt> 2021: (accepted) End-to-end optimized im- age compression for machines, a study.</dt>
				  	<dd> Chamain, L.D., Racap ́e, F., B ́egaint, J., Pushparaja, A. and Feltman, S</dd>
            <dd> Data Compression Conference (DCC)</dd><br>
          <dt> 2020: Improving Deep Learning Classification of JPEG2000 Images Over Bandlimited Networks.</dt>
				  	<dd> Chamain, L.D. and Ding, Z</dd>
            <dd> International Conference on Acoustics, Speech and Signal Processing (ICASSP)</dd><br>
          <dt> 2020: Eigenvalue-based detection of a signal in colored noise: Finite and asymptotic analyses.</dt>
				  	<dd> Chamain, L.D., Dharmawansa, P., Atapattu, S. and Tellambura, C.</dd>
            <dd> IEEE Transactions on Information Theory</dd><br>
          <dt> 2019: Quannet: Joint image compression and classifica- tion over channels with limited bandwidth.</dt>
				  	<dd> Chamain, L.D., Cheung, S.C.S. and Ding, Z.</dd>
            <dd> IEEE International Conference on Multimedia and Expo (ICME)</dd><br>
           <dt> 2019: Detection of a signal in colored noise: A random matrix theory based analysis.</dt>
				  	<dd> Chamain, L.D., Dharmawansa, P., Atapattu, S. and Tellambura, C.</dd>
            <dd> IEEE Global Communications Conference (GLOBECOM)</dd>
				</dl>
			</div>
			<br>
		</div>
</div>
