<hr size="3">
<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Inventions</h1>
		</div>
		<div class="content-rounded-panel">
			<div>
				<dl>
				  <dt> 2019:(provisional) Quannet: Joint image compression and classification over channels with limited bandwidth.</dt>
				  	<dd> Learns quantization tabels for JPEG 2000</dd>
				  <dt> 2020:(provisional) Learned video compression framework for multiple machine tasks</dt>
				  	<dd> Reuses features end-to-end optimized for a primary task for secondary tasks</dd>
				</dl>
			</div>
			<br>
		</div>
</div>
