<hr size="3">
<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Education</h1>
		</div>
		<div class="content-rounded-panel">
			<div>
				<dl>
				  <dt> 2021 expected Ph.D</dt>
				  	<dd> &nbsp;&nbsp;&nbsp;&nbsp; Electrical and Computer Engineering, UC Davis, CA</dd><br><br>
				  <dt> 2020 M.Sc.</dt>
				  	<dd> &nbsp;&nbsp;&nbsp;&nbsp; Electrical and Computer Engineering, UC Davis, CA</dd><br><br>
				  <dt> 2016 B.Sc.</dt>
				  	<dd> &nbsp;&nbsp;&nbsp;&nbsp; Electronics and Telecommmunication, University of Moratuwa, Sri Lanka</dd>
				</dl>
			</div>
			<br>
		</div>
</div>

