<hr size="3">
<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Work experience</h1>
		</div>
		<div class="content-rounded-panel">
			<div>
				<dl>
				  <dt> June 2020 - Sept 2020: AI R&D Intern, InterDigital AI Labs, CA.</dt>
				  	<dd> Developed a joint compression-classification framework with VAE concepts with rigorous theoretical derivations. Pre- sented simple encoders for mobile/wireless devices that achieves 6% rate-accuracy(top-5) improvements ×2 faster over JPEG baseline on ImageNet-1K data set.</dd>
            <dd> Prepared benchmarks for VCM</dd><br>
				  <dt> Sept 2016 - Aug 2017: Lecturer, University of Moratuwa, Sri Lanka.</dt>
				  	<dd> Taught Basic Electronics: Prepared lecture notes and supervised lab sessions.</dd><br>
				  <dt> Nov 2014 - March 2015: Software Engineer Intern, CodeGen Pvt. Ltd., Sri Lanka.</dt>
				  	<dd> Developed a Face recognition system with 93% accuracy using Harr wavelet features for the company-use with Visual studio and OpenCV.</dd>
				</dl>
			</div>
			<br>
		</div>
</div>
