<hr size="3">
<div id="skillsBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-skills">Skills</h1>
	</div>
	<div class="content-rounded-panel">

		<div id="skills">
			<p>Coding: 
			{% for skill in site.skills.coding %}
				<span class="label label-info label-padded"> {{skill}} </span> &nbsp;
			{% endfor %} 
			</p>
			<p>Codecs: 
			{% for skill in site.skills.codecs %}
				<span class="label label-info2 label-padded"> {{skill}} </span> &nbsp;
			{% endfor %} 
			</p>
			<p>Deep learning: 
			{% for skill in site.skills.deeplearning %}
				<span class="label label-info3 label-padded"> {{skill}} </span> &nbsp;
			{% endfor %} 
			</p>
			<p>Extras: 
			{% for skill in site.skills.extras %}
				<span class="label label-info4 label-padded"> {{skill}} </span> &nbsp;
			{% endfor %} 
			</p>
		</div>
	</div>
</div>
