<hr size="3">
<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Extras</h1>
		</div>
		<div class="content-rounded-panel">
			<div>
				<ul>
          <li>🥷🏿 2020: Served as an Editorial Board Member of the CINEC Student Research Symposium Proceedings.</li>
          <li>🚩 2019: Received Spring Travel grant, UC Davis, CA </li>
          <li>🚩 2016: Awardee of Travel grant, National Science Foundation, Sri Lanka </li>
          <li>🚩 2010: Awardee of C.R. Kulathilaka Memorial scholarship Award for highest Combined maths results of the country, Sri Lanka</li>
          <li>🚩 2007-2015: Awardee of Dialog Merit scholarship for best results of the district.</li>
        </ul>
			</div>
			<br>
		</div>
</div>
