{% if site.intro %}
	<div id="introBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1 id="user-intro">Lahiru D. Chamain</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="introBlurb">
				<p style="float: left; padding-right: 20px; padding-bottom: 20px;"><img src="../img/IMG_2810.jpeg" width="200" align="left"></p>
				{{site.intro}}
				<br>
				<a href="mailto:hdchamain@ucdavis.edu"> <img src="../img/emailIcon.png" width="30"> </a>
				<a href="https://scholar.google.com/citations?user=cQAkxu4AAAAJ&hl=en"> <img src="../img/scholarIcon.png" width="30"> </a>
				<a href="https://github.com/chamain"> <img src="../img/githubIcon.png" width="30"> </a>
				<a href="https://www.linkedin.com/in/lahiru-d-chamain/"> <img src="../img/linkedinIcon.png" width="30"> </a>
				<br>
			</div>
		</div>
	</div>
{% endif %}
