{% if site.intro %}
	<div id="introBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1 id="user-intro">Bio</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="introBlurb">
				<p style="float: left; padding-right: 20px; padding-bottom: 20px;"><img src="../img/IMG_2810.jpeg" width="200" align="left"></p>
				{{site.intro}}
				<br><br>
				<h2 id="user-intro2">Research interests:</h1>
				{{site.intro2}}
				<br> <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a style= padding-left: 500px; href="mailto:hdchamain@ucdavis.edu"> <img src="../img/icons/envelope-fill.svg" width="35"> </a>
				&nbsp;&nbsp;<a style= padding-left: 500px; href="https://scholar.google.com/citations?user=cQAkxu4AAAAJ&hl=en"> <img src="../img/icons/google-scholar.svg" width="30"> </a>
				&nbsp;&nbsp;<a style= padding-left: 500px; href="https://github.com/chamain"> <img src="../img/icons/github.svg" width="35"> </a>
				&nbsp;&nbsp;<a style= padding-left: 500px; href="https://www.linkedin.com/in/lahiru-d-chamain/"> <img src="../img/icons/linkedin.svg" width="35"> </a>
				<br>
			</div>
		</div>
	</div>
{% endif %}
